body {
      font-family: fantasy;
      background: linear-gradient(135deg, #ff9a9e, #fad0c4);
      min-height: 100vh;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card {
      background: white;
      padding: 2rem 3rem;
      border-radius: 16px;
      text-align: center;
      box-shadow: 0 10px 30px rgba(0,0,0,0.2);
      position: relative;
        width: 90vw;
        max-width: 360px;
        min-height: 280px;
      border-style:dotted
    }

    h1 {
      margin-bottom: 0.5rem;
    }

    #counter {
      font-size: 14px;
      color: #666;
      margin-bottom: 1.5rem;
    }

    button {
      padding: 12px 24px;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    #yes {
      position: absolute;
      left: 50%;
      top: 150px;
      transform: translateX(-50%);
      background: #ff4d6d;
      color: white;
    }

    #no {
      background: #ddd;
      margin-top: 25px;
    }